/* CSS Variables */
:root {
    --primary-color: #234a56;
    --secondary-color: #417d95;
    --tertiary-color: #dde7dc;
}

/* General Styling */
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* General End */
/* Header Styling */
header {
    text-align: center;
}
header h1 {
    color: var(--primary-color);
    font-size: 48px;
}

/*Header Styling End
/* Quiz Styling */

/* Quiz Styling End */
/* Timer Styling */
.timer {
    margin: 5px;
    font-size: 36px;
}
/* Footer Styling */
footer a {
    color: orangered;
    text-decoration: none;
}
footer a:hover {
    font-style: italic;
    font-size: 1.3em;
}
/* Footer Styling End */