/* CSS Variables */
:root {
    --primary-color: #234a56;
    --secondary-color: #417d95;
    --tertiary-color: #dde7dc;
}
/* CSS Variables End */
/* Utility Classes */
.btn {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn:hover {
    opacity: 0.5;
}
#start-quiz {
    font-size: 25px;
    width: 400px;
    height: 100px;
}
/* Utility Classes End */
/* General Styling */
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: azure;
    color: var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/* General End */
/* Header Styling */
header {
    text-align: center;
}
header h1 {
    color: var(--primary-color);
    font-size: 48px;
}
/*Header Styling End */
/* High Scores Styling */
#high-scores {
    flex-basis: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px;
}
#high-scores:active {
    color: var(--tertiary-color);
    font-style: italic;
}
#high-scores:hover {
    font-style: italic;
}
#high-score-display {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
/* High Scores End */
/* Quiz Styling */
.questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}
#quiz-question {
    flex-basis: 100%;
    padding: 5px;
    border-bottom: 3px solid var(--secondary-color);
    background-color: var(--tertiary-color);
    margin-bottom: 15px;
    text-align: center;
}
.answer-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.answer-form > input {
    border-radius: 10px;
}
/* Quiz Styling End */
/* Timer Styling */
.timer {
    margin: 5px;
    font-size: 36px;
}
#timer-holder {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}
/* Footer Styling */
footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
footer a {
    color: orangered;
    text-decoration: none;
}
footer a:hover {
    font-style: italic;
    font-size: 1.3em;
}
/* Footer Styling End */